body {
	background-image: url("../img/texture.png");
	color: #444446;
    font: 13px/18px Arial, Helvetica, sans-serif;
	margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Salsa', cursive;
}
p{
	font-family: 'Salsa', cursive;
}
/*========== HEADER =============*/
header{
	text-align: center;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}

/*========== SECTION =============*/
section{
	margin-bottom: 30px;
	overflow: hidden;
}
section img{
	height: 350px;
	width: 280px;
}

div#frase {
	clear: both;
	display: none;
	font-family: 'Great Vibes', cursive;
	font-size: 35px;
	padding-top: 15px;
	text-align: center;
}
section div {
	text-align: center;
	width: 50%;
}
div.izquierda {
	float: left;
}
div.izquierda img:hover {
	-moz-transform: scale(1.2); /* Escala sin animación */
}
div.derecha {
	float: right;
}
div.derecha img {
	-moz-transition: all .2s ease-in-out; /* Escala con animación xD */
}
div.derecha img:hover {
	-moz-transform: scale(1.2);
}